<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/inventory/admin/access/granted">
      <button class="return-to-main-btn" href="">
        Return To Admin Page
      </button>
    </a>
    <h1><%= title %></h1>
    
    <h2 class="admin-item-access-granted-text">
      Admin access granted
    </h2>

    <% if (items) { %>
      <% items.forEach((item) => { %>
        <div class="item-container">
          <h2>
            <%= item.name %>
          </h2>
          <ul>
            <li>
              <strong>Description: </strong><%= item.description %>
            </li>
            <li>
              <strong>Amount: </strong><%= item.amount %>
            </li>
            <li>
              <strong>Quantity: </strong><%= item.quantity %>
            </li>
            <li>
              <strong>Price: </strong><%= item.price %>
            </li>
          </ul>
          
          <div class="admin-item-list-button-container">
            <a 
              class="button-link"
              href="<%= item.url + '/update' %>"
            >
              <button>Update</button>
            </a>
            <a 
              class="button-link"
              href="<%= item.url + '/delete' %>"
            >
              <button>Delete</button>
            </a>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <p>
        There are no categories of this category type :(
      </p>
    <% }; %>
  </body>
</html>