<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/inventory/admin/access/granted">
      <button class="return-to-main-btn" href="">
        Return To Admin Page
      </button>
    </a>
    <h1 class="admin-category-title"><%= title %></h1>
    
    <h2 class="admin-category-access-granted-text">
      Admin access granted
    </h2>

    <% if (categories) { %>
      <% categories.forEach((category) => { %>
        <div class="category-container">
          <h2>
            <%= category.name %>
          </h2>
          <div class="category-button-container">
            <a class="button-link" href="<%= category.url + '/update' %>">
              <button>Update</button>
            </a>
            <a class="button-link" href="<%= category.url + '/delete' %>">
              <button>Delete</button>
            </a>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <p>
        There are no categories of this category type :(
      </p>
    <% }; %>
  </body>
</html>