<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Here is the current Inventory Data</h2>
    <dt>
      <h3>
        Categories:
      </h3>
      <p>
        <%= data.category_count %>
      </p>
      <h3>
        Total Items in Inventory:
      </h3>
      <p>
        <%= data.item_count %>
      </p>
      <h4>
        Pick a Category to View:
      </h4>
      <ul>
        <% if (categories) { %>
          <% categories.forEach((category) => { %>
            <li>
              <a href="<%= category.url %>"><%= category.name %></a>
            </li>
          <% }); %>
        <% }; %>
      </ul>
      <a href="/inventory/items">
        <h5>
          View All Items in Inventory
        </h5>
      </a>
    </dt>

    <h4>
      Admin Options:
    </h4>
    <ul>
      <a href="/inventory/category/create">
        <li>
          Create Category
        </li>
      </a>

      <a href="/inventory/category/:id/delete">
        <li>
          Delete Category
        </li>
      </a>

      <a href="/inventory/category/:id/update">
        <li>
          Update Category
        </li>
      </a>

      <a href="/inventory/item/create">
        <li>
          Create Item
        </li>
      </a>

      <a href="/inventory/item/:id/delete">
        <li>
          Delete Item
        </li>
      </a>

      <a href="/inventory/item/:id/update">
        <li>
          Update Item
        </li>
      </a>
    </ul>
    
  </body>
</html>
