<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="title-header"><%= title %></h1>

    <div class="categories-container">
      <ul class="categories-list">
        <% if (categories) { %>
          <% categories.forEach((category) => { %>
            <li class="category-item">
              <a href="<%= category.url %>"><%= category.name %></a>
            </li>
          <% }); %>
        <% }; %>
      </ul>

      <a href="/inventory/items">
        <h5 class="view-all-items-text">
          View All Items in Inventory
        </h5>
      </a>
    </div>

    <div class="inventory-data-container">
      <dt class="home-info-container">
        <h2 class="current-inventory-header">Current Inventory</h2>
        <p>
          <strong> Categories:</strong> <%= data.category_count %>
        </p>
  
        <p>
          <strong>Different Items in Inventory:</strong>  <%= data.item_count %>
        </p>
  
      </dt>
  
      <div class="admin-options-container">
        <h4 class="admin-options-text">
          Admin Options:
        </h4>
       
        <a href="/inventory/admin/access">
          <button>
            Admin Access
          </button>
        </a>
      </div>
    </div>
    
  </body>
</html>