<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Here is the current Inventory Data</h2>
    <dt>
      <h3>
        Categories:
      </h3>
      <p>
        <%= data.category_count %>
      </p>
      <h3>
        Different Items in Inventory:
      </h3>
      <p>
        <%= data.item_count %>
      </p>
      <h4>
        Pick a Category to View:
      </h4>
      <ul>
        <% if (categories) { %>
          <% categories.forEach((category) => { %>
            <li>
              <a href="<%= category.url %>"><%= category.name %></a>
            </li>
          <% }); %>
        <% }; %>
      </ul>
      <a href="/inventory/items">
        <h5>
          View All Items in Inventory
        </h5>
      </a>
    </dt>

    <h4>
      Admin Options:
    </h4>
   
    <a href="/inventory/admin/access">
      <button>
        Admin Access
      </button>
    </a>
    
  </body>
</html>