<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/inventory/admin/access/granted">
      <button class="return-to-main-btn" href="">
        Return to Admin Page
      </button>
    </a>

    <h1><%= title %></h1>

    <form method="POST" action="" enctype="multipart/form-data">

      <div class="form-group">
        <label for="name">
          Name:
        </label>
        <input 
          id="form-control" 
          type="text" 
          placeholder="Beans, Roasts, Espresso, etc"
          name="name"
          required
          value="<%= typeof(item) === 'undefined' ? '' : item.name %>"
        >
      </div>

      <div class="form-group">
        <label for="description">
          Description:
        </label>
        <textarea 
          id="form-control" 
          type="text" 
          placeholder="Permanent stainless steel filter so that there's no need to..."
          name="description"
          required
        >
          <%= typeof(item) === 'undefined' ? '' : item.description %>
        </textarea>
      </div>

      <div class="form-group">
        <label for="quantity">
          Quantity:
        </label>
        <input 
          id="form-control" 
          type="text" 
          placeholder="105"
          name="quantity"
          required
          value="<%= typeof(item) === 'undefined' ? '' : item.quantity %>"
        >
      </div>

      <div class="form-group">
        <label for="cost">
          Cost:
        </label>
        <input 
          id="form-control" 
          type="text" 
          placeholder="19.99"
          name="cost"
          required
          value="<%= typeof(item) === 'undefined' ? '' : item.cost %>"
        >
      </div>

      <div class="form-group">
        <label class="categories-create-item-header-text">
          Categories:
        </label>
        <div class="checkboxes-container">
          <% categories.forEach((category) => { %>
            <div class="checkbox-container">
              <input
                class="checkbox-create-item"
                type="checkbox"
                name="category"
                id="<%= category._id %>"
                value="<%= category._id %>"
                checked="<%= category.checked %>"
              >
              <label class="category-label" for="<%= category._id %>">
                <%= category.name %>
              </label>
            </div>
          <% }); %>
        </div>

        <div class="form-group">
          <input 
            type="file"
            id="image"
            class="form-control-file" 
            name="item_image"
            accept="/image/*"
          >
        </div>

      <button class="create-item-button" type="submit">
        Submit
      </button>
    </form>

    <% if (typeof(errors) !== "undefined") { %>
      <ul>
        <% errors.forEach((error) => { %>
          <li>
            <%= error.msg %>
          </li>
        <% }); %>
      </ul>
    <% }; %>

  </body>
</html>