<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/inventory">
      <button class="return-to-main-btn" href="">
        Return To Main
      </button>
    </a>
    <h1><%= title %></h1>
    
    <div class="items-container">
      <% if (items) { %>
        <% items.forEach((item) => { %>
          <div class="item-container">
            <h2>
              <%= item.name %>
            </h2>
            <% if (item.image) { %>
              <img src="<%= item.imageURL %>">
            <% }; %>
            <div class="item-details-container">
              <p>
                $<%= item.cost %>
              </p>
              <p>
                <em><%= item.description %></em>
              </p>
              <p>
                <strong>Quantity:</strong> <%= item.quantity %>
              </p>
            </div>
            <a href="<%= item.url %>">
              View Item
            </a>
          </div>
          <hr>
        <% }); %>
      <% } else { %>
        <p>
          There are no items of this category type :(
        </p>
      <% }; %>
    </div>
  </body>
</html>